/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

/*
  1. From the outside to the inside
  2. From up to down
  3. From general to detail
 */

/*
  1. Position
  2. Size
  3. Color
  4. Shape ( font type, circal, square, ...)
 */

#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  z-index: 1;

  background-color: #000;
}

#nav,
.sub-nav {
  display: inline-block;
  list-style: none;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  line-height: 46px;
}

#nav li a {
  display: block;
  padding: 0 24px;
  text-decoration: none;
}

#nav > li:hover > a,
#nav .sub-nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .sub-nav {
  display: none;
  min-width: 160px;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .sub-nav a {
  color: #000;
  padding: 0 12px;
  line-height: 36px;
}

#nav li:hover > .sub-nav {
  display: block;
}

#nav .nav-arrow-down {
  font-size: 10px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn > .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}
#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#slider {
  position: relative;
  margin-top: 46px;
  /* Height = 50% width */
  padding-top: 50%;
  background: url("/assets/img/slider/slider1.jpg") top center/ cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  width: 100%;

  /* Options */
  /* left: 50%;
  transform: translateX(-50%); */
  /* left: 0;
  right: 0; */

  color: #fff;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {
}
#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0px;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}
#content .section-sub-heading {
  margin-top: 25px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  text-align: justify;
  /*  line-height: 1.4 for Vietnamese*/
  line-height: 1.4;
  font-size: 15px;
}
#content .members-list {
  /* Clear float */
  /* overflow: hidden; */
  margin-top: 48px;
  text-align: center;
}
#content .member-item {
  float: left;
  width: calc(100% / 3);
}
#content .member-name {
  font-size: 15px;
}
#content .member-img {
  width: 154px;
  margin-top: 15px;
  border-radius: 4px;
}
#footer {
}
